body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}
#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#content > input {
    display: block;
    width: 200px;
}

.inputsection {
    margin-bottom: 10px;
}

input[type="text"], input[type="number"] {
    border: none;
    font-size: 17px;
    margin-left: 15px;
    padding: 5px;
}

button {
    font-size: 17px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    background-color: white;
    padding: 5px;
    margin: 5px;
}

.inputsection {
    display: flex;
    align-items: center;
    justify-content: center;
}
